.purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(204, 204, 204);
  background: linear-gradient(0deg, rgba(204, 204, 204, 1) 35%, rgba(238, 238, 238, 1) 100%);
  padding: 0 30px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 4px;

  &__name {
    font-weight: bold;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__price {
    color: rgb(70, 69, 69);
  }
}
