.final-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  &__container {
    width: 50vw;
  }

  &__button {
    width: 30vw;
    height: 55px;
    margin: 0;
    border: none;
    background: white;
    font-size: 24px;
  }

  &__header {
    text-align: center;
    color: white;
  }
}
